/* ===== General ===== */

.hidden {
	display: none;
}

/* ===== Screen One ===== */

/* Format the input fields */

#inputcont {
	height: auto;
	margin: 1 3;
}

.inputlabelgroup {
	margin: 1 0;
}

.inputfield {
	margin: 1 0;
}

.errorlabel {
	color: red;
	margin: 0 2;
}

/* ===== Screen Two ===== */

/* Make the height of the containers holding device entries flexible */

Horizontal {
	height: auto;
	margin: 1 4;
}

Vertical {
	height: auto;
}

/* Short status description, displayed next to each button */

.shortdesc {
	margin: 1 2;
}
